
<div class="row">
	<div class="col-md-12 medPadBot">
		<img src="./assets/tabletBG.png" class="position-absolute img-responsive center-block"/>
		<div class="row tabletArea">
		
			<div class="row">
				<div class="col-md-12 text-center">		
					<h1 class="heading">AmongUs Voice Channel Controller</h1>
				</div>
			</div>			
			
			<div class="row" style="">
				<div class="col-md-12 text-center">				
					<hr class="line"/>			
					<h1 class="subHeading">Channel Controls</h1>
				</div>
			</div>

			<div class="row" style="margin-top:0.25em;">
				<div class="col-md-12 text-center flex buttonRowSpacing">
					<button id="joinChannel" class="btn btn-primary"><i class="fas fa-door-open"></i> Join Channel</button> 
					<button id="leaveChannel" class="btn btn-warning"><i class="fas fa-door-closed"></i>Leave Channel</button> 
					<button id="unmuteAll" class="btn btn-success"><i class="fas fa-microphone"></i> Unmute All</button> 
					<button id="muteAll" class="btn btn-danger"><i class="fas fa-microphone-slash"></i> Mute All</button> 
					<button id="listUsers" class="btn hidden"><i class="fas fa-user"></i> Refresh Users</button> 
				</div>
			</div>
			
			<div class="row" style="">
				<div class="col-md-12 text-center">					
					<hr class="line"/>
				</div>
			</div>
			
			<div class="row" style="margin-top:2em;">
				<div class="col-md-12">
					<div id="userList">
						{{> discordUsers discordUsers=discordUsers}}
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<!--Page specific coding-->
<link rel="stylesheet" href="./css/amongUsStyle.css">
<script src="./js/amongUsScript.js"></script>