
<div class="row">
	<div class="col-lg-12">
		<div class="jumbotron text-center">
			<h1>Welcome to the DiscordBot! <img src="./assets/discord_icon.png" style="max-width: 15%;" /></h1>
		</div>
		<div class="row">
			<div class="col-lg-6 col-xs-12 text-large" style="padding: 0em 2em;">
				<h2>Commands</h2>
				<p>All commands start with '!'. Commands work in any text channel on the server.</p>
				<ul>
					<li>website</li>
					<li>amongus 'or' au</li>
				</ul>
			</div>
			<div class="col-lg-6 col-xs-12 text-large" style="padding: 0em 2em;">
				<h2>Users In Server</h2>
				<p>Please login to see users in your server.</p>
			</div>
		</div>
	</div>
</div>